{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="container">
    <h1>Page d'acceuil ✅</h1>

   {% for product in products %}
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    {{product.name}}
                    <div class="card-text">
                        {{product.description | raw}}
                    </div>
                    <div class="card-footer">
                        {{product.prix / 100}} €
                    </div>
                </div>
            </div>
        </div>
   {% endfor %}
</div>
{% endblock %}
